#main {
    display: flex;
}

#menu {
    width: 200px;
}
#menu ul li {
    display: block;
}

#content > div {
    display: none;
}

#content #frontPage {
    display: block;
}

.findBlock {
    position: relative;
}

.findBlock ul{
    position: absolute;
    top: 20px;
    width: 100%;
    display: none;
    padding-left: 0px;
    list-style: none;
    background: white;
}

.findBlock ul li{
    border: 1px solid lightgrey;
    cursor: pointer;
    margin-bottom: 10px;
}