.App {
    display: flex;
}
.slider {
    width: 100%;
    overflow: hidden;
}
.sliderWrapper {
    display: flex;
}

.slide {
    width: 100%;
    flex: 1 0 100%;
}

.slide img{
    width: 100%;
    height: auto;
}