button {
    line-height: 34px;
    padding: 0px 10px;
    border:0px;
}
input {
    line-height: 30px;
}
#add {
    background: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
}

#control-buttons {
    padding-top: 20px;
}

#reverse {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

#removeAll {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

ul#buy-list {
    padding-left: 0px;
    list-style: none;
}

ul#buy-list .removeItem {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    margin-right: 20px;
    line-height: 28px;
    height: 28px;
    width: 28px;

}

ul#buy-list li {
    margin-bottom: 20px;
}