body, html
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body
{
    min-height: 500px;
    background: #f5f5f5;
    text-align: center;
}

section{
    padding: 100px;
    box-sizing: border-box;
    height: 100%;

}

button {
    outline: none;
}

button:disabled {
    opacity: 0.5;
}

p{
    margin: 40px 0;
}


/* Smiley */

.smiley
{
    background: linear-gradient(135deg, rgb(255, 233, 25) 0%, rgb(251, 192, 0) 100%);
    border-radius: 100%;
    padding: 9px;
    position: relative;
    width: 60px;
    height: 60px;
    /*left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(calc(-50% - 121px));*/
    box-shadow: rgba(211, 165, 110, 0.498039) 0px 18px 18px 1px, rgb(245, 245, 245) 0px 12px 6px 1px;
}


.mouth
{
    width: 60%;
    height: 30%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-sizing: border-box;
    position: absolute;
    bottom: 18%;
    left: 50%;
    margin-left: -30%;
    background: #B57700;
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}


.eyes
{
    width: 100%;
    margin-top: 15%;
    box-sizing: border-box;
    padding: 0 3px;
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.eyes .eye
{
    width: 12px;
    height: 12px;
    background: #B57700;
    float: left;
    border-radius: 100%;
    position: relative;
}

.eyes .eye:nth-of-type(2)
{
    float: right;
}

.eyes .eye::after
{
    content: "";
    display: block;
    position: absolute;
    width: 0%;
    height: 0%;
    background: #fed800;
    transform: rotate(0deg);
    top: -9px;
    left: 3px;
    transition:         all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.eyes .eye:first-of-type::after
{
    transform: rotate(0deg);
    left: auto;
    right: 3px;
}

/* Normal animation */
.smiley.normal .mouth,
#normal[type=radio]:checked ~ .smiley .mouth
{
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    height: 10%;
    width: 40%;
    bottom: 25%;
    margin-left: -20%;
}

.smiley.normal .eyes,
#normal[type=radio]:checked ~ .smiley .eyes
{
    margin-top: 30%
}

/* angry animation */
.smiley.angry .mouth,
#angry[type=radio]:checked ~ .smiley .mouth
{
    width: 40%;
    height: 20%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    bottom: 18%;
    left: 50%;
    margin-left: -20%;
    border-bottom: 0;
}

.smiley.angry .eyes,
#angry[type=radio]:checked ~ .smiley .eyes
{
    margin-top: 35%
}

.smiley.angry .eye::after,
#angry[type=radio]:checked ~ .smiley .eye::after
{
    width: 120%;
    height: 50%;
    transform: rotate(-35deg);
    top: -3px;
    left: -3px;
    border-radius: 0;
}

.smiley.angry .eye:first-of-type::after,
#angry[type=radio]:checked ~ .smiley .eye:first-of-type::after
{
    transform: rotate(35deg);
    left: auto;
    right: -3px;
}

/* Furious copy of angry */
.smiley.furious .mouth,
#furious[type=radio]:checked ~ .smiley .mouth
{
    width: 40%;
    height: 20%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    bottom: 18%;
    left: 50%;
    margin-left: -20%;
    border-bottom: 0;
}

.smiley.furious .eyes,
#furious[type=radio]:checked ~ .smiley .eyes
{
    margin-top: 35%
}

.smiley.furious .eye::after,
#furious[type=radio]:checked ~ .smiley .eye::after
{
    width: 120%;
    height: 50%;
    transform: rotate(-35deg);
    top: -3px;
    left: -3px;
    border-radius: 0;
}

.smiley.furious .eye:first-of-type::after,
#furious[type=radio]:checked ~ .smiley .eye:first-of-type::after
{
    transform: rotate(35deg);
    left: auto;
    right: -3px;
}

/* */

.smiley.happy .mouth,
#happy[type=radio]:checked ~ .smiley .mouth
{
    animation: move-mouth-down 6s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}


@keyframes move-mouth-down
{
    0%
    {
        bottom: 18%;
    }

    4.55%
    {
        bottom: 16%;
    }

    8.45%
    {
        bottom: 16%;
    }

    13%
    {
        bottom: 18%;
    }
    100%
    {
        bottom: 18%;
    }
}


.smiley.happy .eyes,
#happy[type=radio]:checked ~ .smiley .eyes
{
    animation: move-eyes-down 6s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}


@keyframes move-eyes-down
{
    0%
    {
        margin-top: 15%;
    }

    4.55%
    {
        margin-top: 19%;
    }

    8.45%
    {
        margin-top: 19%;
    }

    13%
    {
        margin-top: 15%;
    }

    100%
    {
        margin-top: 15%;
    }

}



.smiley.happy .eye:nth-of-type(2),
#happy[type=radio]:checked ~ .smiley .eye:nth-of-type(2)
{
    height: 12px;
    margin-top: 0;
    animation: wink 6s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}


@keyframes wink
{
    0%
    {
        height: 12px;
        margin-top: 0;
    }

    3.9%
    {
        height: 3px;
        margin-top: 8px;
    }

    9.1%
    {
        height: 3px;
        margin-top: 8px;
    }

    13%
    {
        height: 12px;
        margin-top: 0;
    }

    100%
    {
        height: 12px;
        margin-top: 0;
    }
}



.smiley.normal .eye,
#normal[type=radio]:checked ~ .smiley .eye
{
    height: 12px;
    margin-top: 0;
    animation: blink 6s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}
#normal[type=radio]:checked ~
.squiggle {
    color: transparent;
}

@keyframes blink
{
    0%
    {
        height: 12px;
        margin-top: 0;
    }

    3.25%
    {
        height: 2px;
        margin-top: 8px;
    }

    6.5%
    {
        height: 12px;
        margin-top: 0;
    }

    9.75%
    {
        height: 2px;
        margin-top: 8px;
    }

    13%
    {
        height: 12px;
        margin-top: 0;
    }
    100%
    {
        height: 12px;
        margin-top: 0;
    }
}


.smiley.angry .eyes,
.smiley.angry .mouth,
#angry[type=radio]:checked ~ .smiley .eyes,
#angry[type=radio]:checked ~ .smiley .mouth
{
    animation: move-angry-head 6s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}




@keyframes move-angry-head
{
    0%
    {
        transform: translateX(0%);
    }

    2.6%
    {
        transform: translateX(-20%);
    }

    5.2%
    {
        transform: translateX(15%);
    }

    7.8%
    {
        transform: translateX(-10%);
    }

    10.4%
    {
        transform: translateX(5%);
    }

    13%
    {
        transform: translateX(0%);
    }
    100%
    {
        transform: translateX(0%);
    }
}

/* Furious */

.smiley.furious .eyes,
.smiley.furious .mouth,
#furious[type=radio]:checked ~ .smiley .eyes,
#furious[type=radio]:checked ~ .smiley .mouth
{
    animation: move-angry-head 6s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}

.smiley.furious .steam-container {
    display: block;
}

@keyframes move-angry-head
{
    0%
    {
        transform: translateX(0%);
    }

    2.6%
    {
        transform: translateX(-20%);
    }

    5.2%
    {
        transform: translateX(15%);
    }

    7.8%
    {
        transform: translateX(-10%);
    }

    10.4%
    {
        transform: translateX(5%);
    }

    13%
    {
        transform: translateX(0%);
    }
    100%
    {
        transform: translateX(0%);
    }
}


/* STEAM */
.steam-container {
    position: relative;
    width: 60px;
    height: 0px;
    top: -24px;
    display: none;
}

.squiggle-container {
    width: 10px;
    height: 30px;
    display: inline-block;
}

.squiggle-container-1 {
    transform: translate(-10px, 12px);

}
.squiggle-container-1 .squiggle {
    animation: move-and-fade 2.5s linear infinite;
    animation-delay: 0.2s;
    width: 10px;
}
@keyframes move-and-fade {
    0% {
        opacity: 0;
        transform: translate(0, 10px);
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        transform: translateY(60px);
        opacity: 0;
    }
}
.squiggle-container-2 {
    transform: translateY(10px);
}
.squiggle-container-2 .squiggle {
    animation: move-and-fade 2.5s linear infinite;
    animation-delay: 0s;
    width: 10px;
}
@keyframes move-and-fade {
    0% {
        opacity: 0;
        transform: translateY(12px);
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        transform: translateY(-12px);
        opacity: 0;
    }
}
.squiggle-container-3 {
    transform: translate(10px, 12px);
}
.squiggle-container-3 .squiggle {
    animation: move-and-fade 2.5s linear infinite;
    animation-delay: 0.4s;
    width: 10px;
}
@keyframes move-and-fade {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        transform: translateY(-9px);
        opacity: 0;
    }
}
.squiggle {
    stroke-dasharray: 100;
}
.squiggle path {
    stroke: #fc635d;
}

@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    50% {
        stroke-dashoffset: 500;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

.hidden {
    display:none;
}

.rip-ico {
    display: none;
    margin: 6px;
}

.rip {
    background: none;
    box-shadow: none;
}

.rip .rip-ico {
    display: block;
}
.rip .steam-container,.rip .eyes,.rip .mouth {
    display: none;
}

#dodos {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.dodo-item {
    border: 1px solid gray;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 288px;
    flex-wrap: wrap;
}
.dodo-item ul.property {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    margin-left:10px;
    width: 180px;
}
.dodo-item ul.property li {
    width: 60px;
    line-height: 24px;
    justify-content: flex-start;
    position: relative;
    padding-left: 30px;
}
.dodo-item ul.property li.name {
    width: 100%;
    padding-left: 0px;
}
.dodo-item ul.property li img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.dodo-item .actions {
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding-top: 20px;
}
.dodo-item .actions button{
    width: calc(50% - 10px);
    border-radius: 10px;
    line-height: 30px;
    color: #004085;
    background-color: #cce5ff;
    margin-bottom: 10px;
}

#add-dodo {
    border-radius: 10px;
    line-height: 30px;
    color: #004085;
    background-color: #cce5ff;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#main {
    padding: 10px 0px;
}