html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: "Montserrat", sans-serif !important; }

* {
  box-sizing: border-box; }

body {
  color: white;
  background: lightgray; }
  body #main {
    max-width: 1240px;
    margin: 0 auto;
    position: relative; }
  body .header-part {
    background: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center; }
    body .header-part .yellow-block {
      background: rgba(240, 197, 48, 0.9);
      font-size: 28.5px;
      font-weight: 300;
      font-family: "Montserrat", sans-serif !important;
      min-height: 319px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 96px;
      padding-top: 20px;
      width: 345px;
      align-items: center; }
      @media screen and (max-width: 1150px) {
        body .header-part .yellow-block {
          margin-left: 56px; } }
      @media screen and (max-width: 1024px) {
        body .header-part .yellow-block {
          font-size: 19.5px;
          width: 260px;
          padding-top: 0px;
          min-height: 220px; } }
      @media screen and (max-width: 900px) {
        body .header-part .yellow-block {
          margin-left: 20px; } }
      @media screen and (max-width: 767px) {
        body .header-part .yellow-block {
          width: 100%;
          margin-left: 0px;
          min-height: 106px; } }
      body .header-part .yellow-block .big {
        font-size: 100.5px;
        font-weight: 700;
        line-height: 0.95; }
        @media screen and (max-width: 1150px) {
          body .header-part .yellow-block .big {
            font-size: 70px; } }
    body .header-part .right-part {
      font-size: 35px;
      font-weight: 700;
      color: #eecb56;
      border-right: 103.5px solid rgba(240, 197, 48, 0.8);
      max-width: 700px;
      text-align: right;
      padding-right: 30px;
      line-height: 1.25;
      margin-top: 22px;
      padding-top: 10px;
      padding-bottom: 10px;
      width: calc(100% - 96px - 345px);
      padding-left: 20px; }
      @media screen and (max-width: 1150px) {
        body .header-part .right-part {
          width: calc(100% - 56px - 345px); } }
      @media screen and (max-width: 1024px) {
        body .header-part .right-part {
          font-size: 25px;
          border-right-width: 60px;
          width: calc(100% - 56px - 260px);
          margin-top: 0px; } }
      @media screen and (max-width: 900px) {
        body .header-part .right-part {
          width: calc(100% - 20px - 260px);
          padding-right: 20px; } }
      @media screen and (max-width: 767px) {
        body .header-part .right-part {
          width: 100%;
          min-width: 100%;
          border: 0px; } }
      @media screen and (max-width: 639px) {
        body .header-part .right-part {
          font-size: 18px; } }
  body .content-part {
    background: #292d33;
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 767px) {
      body .content-part {
        flex-wrap: wrap; } }
    body .content-part .yellow-block {
      background: rgba(240, 197, 48, 0.9);
      font-family: "Montserrat", sans-serif !important;
      min-height: 319px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-left: 96px;
      width: 345px;
      font-size: 18.5px;
      font-weight: 400;
      padding: 64px 56px;
      line-height: 1.2; }
      @media screen and (max-width: 1150px) {
        body .content-part .yellow-block {
          margin-left: 56px; } }
      @media screen and (max-width: 1024px) {
        body .content-part .yellow-block {
          width: 260px;
          padding: 40px 32px;
          font-size: 16px; } }
      @media screen and (max-width: 900px) {
        body .content-part .yellow-block {
          margin-left: 20px; } }
      @media screen and (max-width: 767px) {
        body .content-part .yellow-block {
          width: 100%;
          margin-left: 0px;
          min-height: initial; } }
      @media screen and (max-width: 639px) {
        body .content-part .yellow-block {
          padding: 30px 20px; } }
      body .content-part .yellow-block .line {
        width: 70.5px;
        height: 22px;
        background-color: white;
        margin-bottom: 22px; }
        @media screen and (max-width: 1024px) {
          body .content-part .yellow-block .line {
            width: 55.5px;
            height: 16px; } }
    body .content-part .right-part {
      text-align: right;
      padding-bottom: 20px;
      min-height: 522px;
      width: calc(100% - 96px - 345px);
      padding-left: 20px; }
      @media screen and (max-width: 1150px) {
        body .content-part .right-part {
          width: calc(100% - 56px - 345px); } }
      @media screen and (max-width: 1024px) {
        body .content-part .right-part {
          width: calc(100% - 56px - 260px);
          min-height: 402px; } }
      @media screen and (max-width: 900px) {
        body .content-part .right-part {
          width: calc(100% - 20px - 260px); } }
      @media screen and (max-width: 767px) {
        body .content-part .right-part {
          width: 100%;
          min-height: auto;
          padding-bottom: 30px; } }
      body .content-part .right-part .subwrap {
        max-width: 720px;
        margin-left: auto; }
        body .content-part .right-part .subwrap > div {
          padding-right: 103px; }
          @media screen and (max-width: 1150px) {
            body .content-part .right-part .subwrap > div {
              padding-right: 63px; } }
          @media screen and (max-width: 900px) {
            body .content-part .right-part .subwrap > div {
              padding-right: 37px; } }
          @media screen and (max-width: 639px) {
            body .content-part .right-part .subwrap > div {
              padding-right: 20px; } }
      body .content-part .right-part .title-white {
        font-size: 49.5px;
        font-weight: 400; }
        @media screen and (max-width: 1024px) {
          body .content-part .right-part .title-white {
            font-size: 35px; } }
        @media screen and (max-width: 639px) {
          body .content-part .right-part .title-white {
            font-size: 20px; } }
      body .content-part .right-part .title-yellow {
        font-size: 90px;
        font-weight: 700;
        color: #eecb56;
        padding-top: 9px;
        padding-bottom: 6px; }
        @media screen and (max-width: 1024px) {
          body .content-part .right-part .title-yellow {
            font-size: 65px; } }
        @media screen and (max-width: 639px) {
          body .content-part .right-part .title-yellow {
            font-size: 30px; } }
      body .content-part .right-part .text {
        font-size: 18.5px;
        font-weight: 400;
        text-align: justify;
        direction: rtl;
        padding-top: 41px;
        line-height: 1.2; }
        @media screen and (max-width: 1024px) {
          body .content-part .right-part .text {
            max-width: 600px;
            margin-left: auto;
            font-size: 16px; } }
      body .content-part .right-part .gray-line {
        border-top: 22px solid #b6b4b3;
        display: inline-block;
        padding-top: 61px; }
        @media screen and (max-width: 1024px) {
          body .content-part .right-part .gray-line {
            border-top-width: 17px;
            padding-top: 40px; } }
        @media screen and (max-width: 639px) {
          body .content-part .right-part .gray-line {
            padding-top: 25px;
            border-top-width: 12px; } }
  body .bottom-part {
    background: url("../images/joshua-ness.jpg") center;
    background-size: cover;
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 767px) {
      body .bottom-part {
        flex-wrap: wrap; } }
    body .bottom-part .yellow-block {
      background: rgba(240, 197, 48, 0.9);
      font-family: "Montserrat", sans-serif !important;
      min-height: 319px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-left: 96px;
      width: 345px;
      padding: 64px 56px;
      line-height: 1.2;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
      font-size: 34.5px;
      font-weight: 600;
      padding-top: 118px;
      padding-right: 35px; }
      @media screen and (max-width: 1150px) {
        body .bottom-part .yellow-block {
          margin-left: 56px; } }
      @media screen and (max-width: 1024px) {
        body .bottom-part .yellow-block {
          width: 260px;
          padding: 40px 32px;
          padding-top: 80px;
          font-size: 25px; } }
      @media screen and (max-width: 900px) {
        body .bottom-part .yellow-block {
          margin-left: 20px; } }
      @media screen and (max-width: 767px) {
        body .bottom-part .yellow-block {
          width: 100%;
          margin-left: 0px;
          padding: 40px 32px;
          min-height: initial; } }
      body .bottom-part .yellow-block .line {
        width: 70.5px;
        height: 22px;
        background-color: white;
        margin-bottom: 42px; }
        @media screen and (max-width: 1024px) {
          body .bottom-part .yellow-block .line {
            width: 55.5px;
            height: 16px;
            margin-bottom: 22px; } }
    body .bottom-part .right-part {
      text-align: right;
      padding-bottom: 20px;
      width: calc(100% - 96px - 345px);
      background: rgba(102, 178, 224, 0.5);
      padding-right: 105px;
      padding-bottom: 60px;
      padding-left: 20px; }
      @media screen and (max-width: 1150px) {
        body .bottom-part .right-part {
          width: calc(100% - 56px - 345px);
          padding-right: 65px; } }
      @media screen and (max-width: 1024px) {
        body .bottom-part .right-part {
          width: calc(100% - 56px - 260px); } }
      @media screen and (max-width: 900px) {
        body .bottom-part .right-part {
          width: calc(100% - 20px - 260px);
          padding-right: 39px; } }
      @media screen and (max-width: 767px) {
        body .bottom-part .right-part {
          width: 100%; } }
      @media screen and (max-width: 639px) {
        body .bottom-part .right-part {
          padding-right: 20px;
          padding-bottom: 40px; } }
      body .bottom-part .right-part .big-text {
        font-size: 90px;
        font-weight: 700;
        padding-top: 51px;
        line-height: 1.5; }
        @media screen and (max-width: 1024px) {
          body .bottom-part .right-part .big-text {
            font-size: 65px;
            padding-top: 35px;
            line-height: 1.4; } }
        @media screen and (max-width: 639px) {
          body .bottom-part .right-part .big-text {
            font-size: 40px;
            padding-bottom: 15px; } }
        body .bottom-part .right-part .big-text .white-line {
          width: 22px;
          height: 71.5px;
          display: inline-block;
          background: white; }
          @media screen and (max-width: 1024px) {
            body .bottom-part .right-part .big-text .white-line {
              width: 19px;
              height: 55px; } }
          @media screen and (max-width: 639px) {
            body .bottom-part .right-part .big-text .white-line {
              width: 10px;
              height: 35px; } }
      body .bottom-part .right-part .text {
        font-size: 18.5px;
        font-weight: 700;
        text-align: justify;
        direction: rtl;
        max-width: 576px;
        float: right;
        margin-top: -8px;
        line-height: 1.2; }
        @media screen and (max-width: 1024px) {
          body .bottom-part .right-part .text {
            font-size: 15px;
            max-width: 490px; } }
        body .bottom-part .right-part .text.black {
          color: #292d33;
          margin-top: 33px; }
  body #pre-footer {
    background: #496576;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 67px 121px; }
    @media screen and (max-width: 1150px) {
      body #pre-footer {
        padding: 67px 81px; } }
    @media screen and (max-width: 1024px) {
      body #pre-footer {
        padding: 45px 81px; } }
    @media screen and (max-width: 767px) {
      body #pre-footer {
        width: 100%;
        justify-content: space-between; } }
    @media screen and (max-width: 639px) {
      body #pre-footer {
        flex-wrap: wrap;
        padding: 30px 20px; } }
    body #pre-footer .item {
      padding-left: 61px; }
      @media screen and (max-width: 900px) {
        body #pre-footer .item {
          padding-left: 30px; } }
      body #pre-footer .item:nth-child(2) {
        padding-left: 48px; }
        @media screen and (max-width: 767px) {
          body #pre-footer .item:nth-child(2) {
            padding: 0px; } }
      @media screen and (max-width: 1024px) {
        body #pre-footer .item {
          height: 30px; }
          body #pre-footer .item img {
            height: 100% !important;
            width: auto !important; } }
      @media screen and (max-width: 767px) {
        body #pre-footer .item {
          padding: 0px; } }
  body #footer {
    background: #292d33;
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 20.5px;
    font-weight: 400;
    width: 441px;
    height: 503px;
    padding-left: 97px;
    padding-top: 119px; }
    @media screen and (max-width: 1150px) {
      body #footer {
        width: 401px;
        padding-left: 57px; } }
    @media screen and (max-width: 1024px) {
      body #footer {
        width: 316px;
        font-size: 15px;
        height: 400px;
        padding-top: 80px; } }
    @media screen and (max-width: 900px) {
      body #footer {
        width: 280px; } }
    @media screen and (max-width: 767px) {
      body #footer {
        width: 100%;
        position: relative;
        padding: 20px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; } }
    @media screen and (max-width: 639px) {
      body #footer {
        justify-content: space-between; } }
    body #footer > div {
      min-height: 42px;
      padding-left: 65px;
      line-height: 42px;
      margin-bottom: 43px; }
      @media screen and (max-width: 1024px) {
        body #footer > div {
          padding-left: 45px;
          margin-bottom: 30px; } }
      @media screen and (max-width: 767px) {
        body #footer > div {
          margin-bottom: 10px;
          margin-left: 10px;
          margin-right: 10px; } }
    body #footer .address {
      background: url("../images/address-ico.png") left center no-repeat;
      background-size: 30.5px 41.5px; }
      @media screen and (max-width: 1024px) {
        body #footer .address {
          background-size: auto 31.5px; } }
    body #footer .phone {
      background: url("../images/phone-ico.png") left center no-repeat;
      background-size: 31.5px 32px; }
      @media screen and (max-width: 1024px) {
        body #footer .phone {
          background-size: auto 24px; } }
    body #footer .email {
      background: url("../images/mail-ico.png") left center no-repeat;
      background-size: 38px 28px; }
      @media screen and (max-width: 1024px) {
        body #footer .email {
          background-size: auto 22px; } }
    body #footer .website {
      padding-left: 0px;
      padding-top: 4px; }
      body #footer .website a {
        color: #cfac38;
        text-decoration: none;
        font-size: 22.5px;
        font-weight: 700; }
        @media screen and (max-width: 1024px) {
          body #footer .website a {
            font-size: 17px; } }
